# Byte-compiled / optimized / DLL files
__pycache__/
Psafechoices/cache/*.json
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.venv/
venv/
ENV/
env/
*.env

# VSCode / IDE settings
.vscode/
.idea/

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db

# Logs and caches
*.log
*.out
*.tmp
.cache/
*.pickle
*.pkl

# Build artifacts
build/
dist/
*.egg-info/
